@import url('https://fonts.googleapis.com/css2?family=Bitcount+Ink:wght@100..900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-vintage-lavender-1000);
}

@theme {
  --font-bitcount: 'Bitcount Ink', sans-serif;
  --font-primary: 'EB Garamond', sans-serif;

  --color-vintage-lavender-100: hsla(355, 52%, 95%, 1);
  --color-vintage-lavender-200: hsla(324, 39%, 80%, 1);
  --color-vintage-lavender-300: hsla(284, 23%, 67%, 1);
  --color-vintage-lavender-400: hsla(281, 19%, 57%, 1);
  --color-vintage-lavender-500: hsla(274, 17%, 48%, 1);
  --color-vintage-lavender-600: hsla(267, 18%, 39%, 1);
  --color-vintage-lavender-700: hsla(256, 18%, 30%, 1);
  --color-vintage-lavender-800: hsla(281, 16%, 23%, 1);
  --color-vintage-lavender-900: hsla(327, 20%, 18%, 1);
  --color-vintage-lavender-1000: hsl(330, 19%, 8%);
}